body {
    background: #2c4e50;
    font-family: "Space Mono", sans-serif;
}

nav#mainNav {
    padding: 0;
}

#mainNav {
	background-color: #2c3e50;
    color: #95a5a6;
}

.navbar-nav li .dropdown-menu{
	background-color: #2c3e50;
}

.navbar-nav li .dropdown-menu a{
	color: #95a5a6;
    text-decoration: none;
}

#mainNav:hover,  .navbar-nav li .dropdown-menu a:hover{
	color: #bdc3c7;
}

.navbar-nav li .dropdown-menu a:disabled{
	color: #95a5a6;
}

.navbar-nav li .dropdown-menu a:disabled:hover{
	color: #bdc3c7;
}

header {
    margin-top: 44px;
    margin-bottom: 5%;
}

header *{
    margin-bottom: 0.5%;
}

#typed1, .typed-cursor {
	font-size: 150%;
    color: #ecf0f1;
}

#about {
    background: #e74c3c;
    color: #ecf0f1;
    padding-top: 5%;
    padding-bottom: 5%;
}

#about p {
    text-align: justify;
    color: #ecf0f1;
}

#about #aboutBirth{
	background: #95a5a6;
}

#about #aboutEducation {
	background: #7f8c8d;
}

#about #aboutWork {
	background: #95a5a6;
}

#about span{
	color: #e75c3c;
}

#about h2 {
    margin-bottom: 3%;
}

#about h2 span{
	color: #ecf0f1;
}


#about #aboutMe p{
    background: #c0392b;
	text-align: center;
    padding: 5%;
    
}

#advices {
	background: #ecf0f1;
    padding-top: 5%;
    padding-bottom: 5%;
}

#advices h2 {
    margin-top: 2%;
    margin-bottom: 4%;
}

#advices h3 {
    margin-bottom: 3%;
}

#advices h5{
    margin-bottom: 5%;
}

#advices a{
	padding-top: 4%;
    padding-bottom: 4%;
}

#advices a img:hover {
	-webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#contact {
	color: #e74c3c;
}

#contact *{
    margin-top: 1%;
    margin-bottom: 1%;
}

.my-btn-large {;
    color: #e74c3c;
    padding-left: 25%;
    padding-right: 25%;
    background: transparent;
    border: 2px solid #e74c3c;
}

.my-btn-large:hover {;
    color: #2c4e50;
    background: #e74c3c;
    border: 2px solid #e74c3c;
}

@media screen and (max-width: 950px) {

    #typed1, .typed-cursor {
	   font-size: 105%;
    }

}


@media screen and (max-width: 650px) {
    .carousel-caption {
        display: none;
    }
    #typed1, .typed-cursor {
	   font-size: 85%;
    }
}

@media screen and (max-width: 480px) {
    #typed1, .typed-cursor {
	   display: none;
    }

}